#
# Enter your API key  - See: cloud.mongodb.com/settings/group
#
mmsApiKey={{ mongodb_agent_api_key }}

#
# Hostname of the MMS monitoring web server.
#
mmsBaseUrl={{ mongodb_agent_mmsBaseURL }}

# For additional optional settings, please see
# https://docs.cloud.mongodb.com/reference/monitoring-agent/

